main{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 2vh;
}

.card{
    border: solid #2B2B2B;
    width: 500px;
    height: 500px;
    color: #FFFFFF;
    border-radius: 18px;
    background-color: #181818;
    overflow: hidden;
    transition: .4s ease-in-out;
}

.card:hover{
    border: solid #22C55E;
    transform: translateY(-5px);
}

.card_forms{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:35px;
    margin-top: 2vh;
    font-size: 2rem;
}

.card_img{
    width: 495.5px;
    height: 250px;
    overflow: hidden;
}

.card_list_titulo{
    color: #FFFFFF;
}

.card_list_text2{
    color: #B3B3B3;
}

.card_list_text{
    color: #22C55E;
}

.hero__icons {
    display: flex;
    width: 45px;
    height: 45px;
    text-align: center;
    transition: .4s ease-in-out;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #FFFFFF;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;

}

.container_cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}


.icons2{
    background-color: #272727;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.icons2:hover{
    background-color: #22C55E;
    transform: translateY(-5px);
}

.icons2_a{
    text-decoration: none;
}


.icons_link{
    font-size: 2rem;
    margin-left: 2vh;
    color: #FFFFFF;
}