
.hero {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.hero__contenido {
    margin-left: 35vh;
}

h1 {
    color: #FFFFFF;
    font-size: 4rem;
    flex-wrap: wrap;
    font-family: "Playfair", serif;
}

h2 {
    color: #FFFFFF;
    font-size: 3rem;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Playfair", serif;
}

.hero_contenido2{
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    gap: 2rem;   
}

.hero__palabra {
    color:  #22C55E;
}

.hero__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: solid #22C55E;
    box-shadow: 0px 0px 8px #22C55E;
    flex-wrap: wrap;
    margin-right: 55vh;
}

.hero_text {
    flex-wrap: wrap;
    font-size: 1.7rem;
    width: 500px;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
}

.hero_text2{
    margin-top: 1.5vh;
    margin-left: 7vh;
}

.hero_text2_1{
   display: flex;
   flex-direction: row;
   font-size: 1.7rem;
   margin-left: 39.5vh;
   width: 1000px;
   color: #FFFFFF;
   text-align: justify;
   line-height: 1.6;
   font-family: "Inter", sans-serif;       
}

.hero_subtitulo{
    font-size: 4rem;
    font-family: "Playfair", serif;
}

.hero__icons {
    background-color: #272727;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    transition: .4s ease-in-out;
}

.hero__icons:hover{
    background-color: #22C55E;
    transform: translateY(-5px);
}


.icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: #FFFFFF;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
}

.icons2 {
    margin-top: 3vh;
}

.icons_palabras {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.5vh;
    font-family: "Inter", sans-serif;
}

.icons_links{
    text-decoration: none;
    color: #FFFFFF;
}

.icons_links:hover{
    color: #22C55E;
}