.hero{
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.hero__contenido{
    margin-left: 15vh;
}

h1{
    color: #FFFFFF;
    font-size: 4rem;
    flex-wrap: wrap;
}

h2{
    color: #FFFFFF;
    font-size: 3rem;
    flex-wrap: wrap;
    margin-top: 5px;   
    margin-bottom: 10px;
}

.hero__palabra{
    color: #22C55E;
}

.hero__img{
  width: 300px;          
  height: 300px;         
  border-radius: 50%;    
  object-fit: cover;     
  object-position: center; 
  box-shadow: 0px 0px 8px #22C55E;
  flex-wrap: wrap;
  margin-right: 20vh;
}

.hero_text{
    flex-wrap: wrap;
    font-size: 1.7rem;
    width: 500px;
   
}



